<div id="main" role="main" class="animated fadeInDown">
    <div id="content" class="container" style="margin-top:60px">
        <div class="row">
            <div class="col-md-2 col-lg-2">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="well no-padding col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <form class="smart-form client-form" #formLogin="ngForm">
                        <header style="text-align:center!important; background: #474544!important; color:#fff">
                            .:: خطای IP BLOCK ::.
                        </header>
                        <fieldset>
                            <div class="col-sm-12">
                                <h1 class="text-danger">
                                    <p class="text-center">
                                        <strong>IP شما بلاک شده است.</strong>
                                    </p>
                                </h1>
                                <br/>
                                <h4 class="text-info font-sm">
                                    <p class="text-center ">
                                        <strong>لطفا به مدیر سامانه مراجعه نمایید.</strong>
                                    </p>
                                </h4>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

