<!--
<div class="page-footer" style="position: fixed !important">
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            <dl class="dl-horizontal text-sm">
                <dt class="color-white">شرکت بهاران</dt>
            </dl>
        </div>
        <div class="col-xs-6 col-sm-3">
            <dl class="dl-horizontal text-sm">
                <dt class="color-white">شماره نسخه :&nbsp;</dt>
                <dd class="text-right m-0 color-white">{{version}}</dd>
            </dl>
        </div>
        <div class="col-xs-6 col-sm-3">
            <dl class="dl-horizontal text-sm">
                <dt class="color-white" >آخرین بروزرسانی :&nbsp;</dt>
                <dd class="text-right m-0 color-white">{{updateDate}}</dd>
            </dl>
        </div>
        <div class="col-xs-6 col-sm-4">
            <dl class="dl-horizontal text-sm">
                <dt class="color-white" >نام اپلیکیشن :&nbsp;</dt>
                <dd class="text-right m-0 color-white">{{applicationName}}</dd>
            </dl>
        </div>
    </div>
</div>-->
