<div id="main" role="main" class="animated fadeInDown">
    <div id="content" class="container" style="margin-top:60px">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="well no-padding col-xs-12 col-sm-12 col-md-10 col-lg-10">
                    <form class="smart-form client-form">
                        <header style="text-align:center!important; background: #474544!important; color:#fff">
                            .:: تغییر پسورد ::.
                        </header>
                        <fieldset>
                            <div class="col-sm-11">
                                <br/>
                                <section>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <input type="password" class="text-left" id="oldPassword"
                                               style="text-align: left!important;" name="oldPassword"
                                               [(ngModel)]="oldPassword" placeholder="رمز قبلی">
                                    </label>
                                </section>
                                <section>
                                    <label class="label text-right" style="text-align: right!important;"></label>
                                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                                        <input type="password" class="text-left" style="text-align: left!important;"
                                               id="newPassword"
                                               name="newPassword" [(ngModel)]="newPassword" placeholder="رمز جدید">
                                    </label>
                                </section>
                                <section>
                                    <label class="label text-right" style="text-align: right!important;"></label>
                                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                                        <input type="password" class="text-left" style="text-align: left!important;"
                                               id="confrimNewPassword"
                                               name="confrimNewPassword" [(ngModel)]="confirmNewPassword"
                                               placeholder="تکرار رمز جدید">
                                    </label>
                                </section>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">
                                        <section>
                                            <button (click)="changePassword()" class="btn btn-primary"
                                                    style="padding: 5px;">تغییر رمز عبور&nbsp;&nbsp;
                                            </button>
                                        </section>
                                    </div>
                                    <div class="col-xs-4 col-sm-4">&nbsp;</div>
                                    <div class="col-xs-2 col-sm-2">
                                        <section>
                                            <button (click)="logout()" class="btn btn-danger"
                                                    style="padding: 5px;">
                                                خروج از سامانه
                                            </button>
                                        </section>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-2 col-lg-2">&nbsp;</div>
        </div>
    </div>
</div>

