<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <article id="art1">
                    <bh-login-info-widget></bh-login-info-widget>
                    <!--<todo-widget></todo-widget>-->
                </article>
            </div>
            <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                 <article id="art2">
                     <archive-widget></archive-widget>
                 </article>
             </div>-->
        </div>
    </sa-widgets-grid>
</div>
