<div id="ribbon">
    <sa-route-breadcrumbs></sa-route-breadcrumbs>
    <!--<span class="ribbon-button-alignment pull-right">
            <span class="btn btn-ribbon" (click)="onCloseClick()" placement="bottom">
                <i class="fa fa-lg fa-times-circle text-lightred"></i>
            </span>
    </span>

    <span class="ribbon-button-alignment pull-right">
            <span class="btn btn-ribbon" (click)="onBookMark()" placement="bottom">
                <i [ngClass]="(isBookMark)?'fa fa-lg text-orange fa-star':'fa fa-lg text-orange fa-star-o'"></i>
            </span>
    </span>-->
</div>